In [120]:
import numpy as np
import pandas as pd
from sklearn import metrics
import seaborn as sns
import matplotlib.pyplot as plt

In [121]:
df=pd.read_excel('/content/sample_data/iris.xlsx')

In [122]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [123]:
x=df.iloc[:,0:4]

In [124]:
y=df.iloc[:,-1]

In [148]:
x

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [149]:
y

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [127]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [128]:

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=50)

In [129]:
dtree=DecisionTreeClassifier()

In [130]:
dtree.fit(x_train,y_train)

DecisionTreeClassifier()

In [131]:
y_pred=dtree.predict(x_test)

In [132]:
print("Accuracy is :",metrics.accuracy_score(y_test,y_pred))

Accuracy is : 0.9555555555555556

In [133]:
from sklearn.metrics import confusion_matrix,classification_report

In [134]:
print("Confusion matrix",confusion_matrix(y_test,y_pred))
print("Classification Report",classification_report(y_test,y_pred))

Confusion matrix [[14  0  0]
 [ 0 16  1]
 [ 0  1 13]]
Classification Report               precision    recall  f1-score   support

      setosa       1.00      1.00      1.00        14
  versicolor       0.94      0.94      0.94        17
   virginica       0.93      0.93      0.93        14

    accuracy                           0.96        45
   macro avg       0.96      0.96      0.96        45
weighted avg       0.96      0.96      0.96        45

In [ ]:
plt.figure(figsize=(5,5))
plt.scatter(y_test,y_pred)
plt.show()

In [ ]:
tree.plot_tree(dtree,filled=True,rounded=True)